<div class="ui massive top right attached label" id= "navbar">
  <div class="ui dropdown item">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">
      <% if !logged_in? %>
        <%= link_to "login", login_path, class: "item"%>
      <% else %>
        <%= link_to "logout", logout_path, method: :delete, class: "item"%>
      <% end %>
    </div>
  </div>
</div>
